body, html {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #000000;
    color: white;
    position: relative;
    border-bottom: 30px solid #2684FF;
}
body .reflet-vert {
    position: absolute;
    top: 12%;
    right: 7%;
}
body .reflet-bleu1 {
    position: absolute;
    bottom:0;
    right: 0;
}

body .reflet-jaune1 {
    position: absolute;
    bottom: 0;
    left: 54%;
}

.incrire {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8%;
}
.incrire .container {
    padding: 2.5% 9%;
}
.desc strong ,.desc h1{
    color: cornflowerblue;
}
.connexion {
    padding: 300px 350px;
}
.info{
    width: 50%;
}