body, html {
    width: 100%;
    height: 400vh;
    margin: 0;
    background: #000000;
    color: white;
    position: relative;
}
body .reflet-vert {
    position: absolute;
    top: 20px;
    left: 30%;
}
body .reflet-bleu1 {
    position: absolute;
    top:12%;
    right: 20%;
}

body .reflet-bleu2 {
    position: absolute;
    bottom:0;
    right: 0;
}
body .reflet-jaune1 {
    position: absolute;
    top:16%;
    left: 30%;
}
body .reflet-jaune2 {
    position: absolute;
    left: 8%;
    bottom: 7%;
}
div strong {
    color: cornflowerblue;
}
.a_propos_livre {
    height: 50vh;
}

.emprunt {
    height: 80vh;
    background-image: url("../images/back3.jpg");
    background-size: cover;
    object-fit: cover;
}
.emprunt .container {
    padding-top: 14%;
    padding-left: 10%;
}

.cards {
    padding: 5%;
}
.cards .container {
    display: flex;
    justify-content: space-around;
    gap: 12px;
}
.about {
    height: 516px;
    padding: 12px;
}

.about .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer {
    padding: 15% 20% ;
    height: 80vh;
}
.bas-page {
    height: 50px;
    background: #2684FF;
    margin-top: 9%;
}

.emprunt .container h6 ,.a_propos_livre h6{
    line-height: 1.5;
}