body .reflet-vert {
    position: absolute;
    top: 50%;
    right: 0;
}
body .reflet-bleu1 {
    position: absolute;
    top:-15px;
    right: 20%;
}
body .reflet-jaune1 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.incrire {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10% 10px 10px 0;
}

.connexion {
    width: 45%;
    padding-top: 15%;
}